pkgbase = nemo-git
	pkgdesc = Cinnamon file manager (Nautilus fork)
	pkgver = 6.4.5.r36.g4a71eb53
	pkgrel = 1
	url = https://github.com/linuxmint/nemo
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = meson
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = intltool
	depends = cinnamon-desktop
	depends = dconf
	depends = gvfs
	depends = exempi
	depends = libexif
	depends = libnotify
	depends = libxml2
	depends = python
	depends = xapps-git
	optdepends = cinnamon-translations: i18n
	optdepends = ffmpegthumbnailer: support for video thumbnails
	provides = nemo
	conflicts = nemo
	source = git+https://github.com/linuxmint/nemo.git
	sha512sums = SKIP

pkgname = nemo-git
