pkgbase = nemo
	pkgdesc = Cinnamon file manager (Nautilus fork)
	pkgver = 6.4.5
	pkgrel = 1
	url = https://github.com/linuxmint/nemo
	arch = x86_64
	license = GPL
	makedepends = meson
	makedepends = samurai
	makedepends = gobject-introspection
	makedepends = intltool
	makedepends = libgsf
	makedepends = glib2-devel
	depends = cinnamon-desktop
	depends = dconf
	depends = gvfs
	depends = exempi
	depends = libexif
	depends = libnotify
	depends = libxml2
	depends = python
	depends = xapp
	optdepends = cinnamon-translations: i18n
	optdepends = ffmpegthumbnailer: support for video thumbnails
	optdepends = catdoc: search helpers support for legacy MS Office files
	optdepends = ghostscript: search helpers support for PostScript files
	optdepends = libgsf: search helpers support for MS Office files
	optdepends = libreoffice: search helpers support for legacy MS Office powerpoint files
	optdepends = odt2txt: search helpers support for LibreOffice files
	optdepends = poppler: search helpers support for PDF
	source = https://github.com/linuxmint/nemo/archive/6.4.5/nemo-6.4.5.tar.gz
	sha512sums = 4163dafe0d2c581468b70bf78d928b42d4e71823d698b6e8c5f86e48d148f29fcc7b02f451eba6018ae21c6e3f6ec876c5460ddeff16a8a30613ee19fcec496a
	b2sums = 48a620f6aed0c4652f734ce9ee7e0d9a9d5946ab7f2398baba079825dc4a18d829bc2bb0c59796534970f829adc15a9e60c62e9baebed94a2104aac080f77ef3

pkgname = nemo
