pkgbase = nemo
	pkgdesc = Cinnamon file manager (Nautilus fork)
	pkgver = 6.0.0
	pkgrel = 1
	url = https://github.com/linuxmint/nemo
	arch = x86_64
	license = GPL
	makedepends = meson
	makedepends = samurai
	makedepends = gobject-introspection
	makedepends = intltool
	makedepends = libgsf
	depends = cinnamon-desktop
	depends = dconf
	depends = gvfs
	depends = exempi
	depends = libexif
	depends = libnotify
	depends = libxml2
	depends = python
	depends = xapp
	optdepends = cinnamon-translations: i18n
	optdepends = ffmpegthumbnailer: support for video thumbnails
	optdepends = catdoc: search helpers support for legacy MS Office files
	optdepends = ghostscript: search helpers support for PostScript files
	optdepends = libgsf: search helpers support for MS Office files
	optdepends = libreoffice: search helpers support for legacy MS Office powerpoint files
	optdepends = odt2txt: search helpers support for LibreOffice files
	optdepends = poppler: search helpers support for PDF
	source = https://github.com/linuxmint/nemo/archive/6.0.0/nemo-6.0.0.tar.gz
	sha512sums = 7e3bc7b4ae1349df1dee9529fbc534d1c8439f15c2e7a3a6496cac608b664d11b180f777c50db994eab51f3aeeb9345ac020028daf17b1cbc957ef4d69f3235b
	b2sums = 7333369f2ec3ba0f0364a3c6ed369a2eecc6a0fdec1af37683d6059a8db09390c9bde89a26420d201aed9ac5a9c45a953b221c5c0d18f1cae6506c163b7f3a69

pkgname = nemo
